/target
**/.webtest
!examples/application-bridge/*/.webtest/
examples/application-bridge/*/.webtest/*
!examples/application-bridge/*/.webtest/app-schema.json
**/node_modules
**/out
**/.vscode-test
editors/vscode/*.vsix
.DS_Store
**/obj
*.dump